






.table {
    border-color: black;


}

.table tr {
text-align: center;
color: white;
}

.table tr>th{
background: #FFB93A;
text-align: center;
border: solid 2px black;
}
.table tr>th {
color: red;
text-decoration: none;
text-align: center;
}

.table tr>th>a {
color: red;
text-decoration: none;
transition: all 0.2s ease-in-out;
}
/*.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {*/
    /*border: 2px solid black;*/
/*}*/


.table-bordered > tbody > tr > th {
    border: solid 2px black;
}




.table tr>th>a:hover {
color: red;
text-decoration: underline;
transition: all 0.2s ease-in-out;
}

.table tr>td:nth-child(1) {
    width: 50%;
background: black;
    border-left: none;
    border-right: none;
border-bottom: solid 2px #FFB93A;

}

.table tr>td:nth-child(2) {
/*background: #FFB93A;*/
border-bottom: solid 2px black;
border-right: solid 2px black;
    border-left: none;
}
.table tr>td:nth-child(3) {
    /*background: #FFB93A;*/
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    border-left: none;
}

.table tr.pricetable>td {
border: none;
margin: 15px;
/*background: none;*/
}
.pricetable {
padding: 5px;
}

